.cart-row-img {
  max-width: 100px;
  height: 100px;
  object-fit: scale-down;
  
}

div .cart-btn-back {
  background-color: #384155;
  color: #E5F876;
  box-shadow: 0px 2px 9px gray;
}

div .cart-btn-back:hover{
  background-color: #E5F876;
  color: #384155;
  box-shadow: 0px 6px 9px gray;
}