.card {
  width: 18rem;
  min-height: 454px;
  box-shadow: 5px 5px 8px -3px grey;
}

.card-img-top {
  height: 17rem;
  object-fit: contain;
}

.card .item-card-btn {
  max-height: 2.5rem;
  background-color: #384155;
  color: #E5F876;
}

.card .item-card-btn:hover{
  background-color: #E5F876;
  color: #384155;
}

.card-title-container {
  font-size: 1rem !important;
  max-height: 40px;
}